$block-slug: statics_index-features

.#{$block-slug}
  text-align: center
.#{$block-slug}__icon
  $circle-sz: 120px
  background-color: $body-bg-d
  +rem('height', $circle-sz)
  +rem('width', $circle-sz)
  +side-mg-auto
  +border-radius(50%)
  text-align: center
  +text-block(40px, $circle-sz)
.#{$block-slug}__title
  +bold-ja
  text-align: center
  color: $brand-primary
.#{$block-slug}__body
  +text-block(16px, 1.8)
